{% extends 'base.html' %}
{% block title %}About Jide Afolayan & Co. {% endblock %}
{% block load %}
{% include 'nav.html' %}

<div class="container">
    <h2 style="font-family: monospace;text-align:center; font-size:33px;">THE FIRM</h2>
<p style="font-size:26px;">INTRODUCTION</p>
Jide Afolayan & Co. is a professional firm of Chartered Accountants and Tax Practitioners providing expert services in the area of Auditing, Accountancy, Management Consultancy and Financial Advisory Services, Taxation, Corporate Secretarial Services, Receivership, Liquidation as well as Human Capital development training services and a host of other Professional Services to our clients throughout Nigeria. These Clients range in size from embryonic ventures to medium and large limited liability companies with sophisticated financial reporting and accounting systems.

Our services extend to Large Government Corporation, Institutions and Parastatals. We also have comprehensive computer program for generating different types of reports on all aspects of management consultancy services and taxation with special references to the computations of income tax and capital allowances for our corporate clients.

A depth and diversity of experience has been accumulated by our partners and numerous staff, which has enabled us to build a fund of experience that can be applied to the particular needs of each of our clients.

Our firm, is a wholly owned indigenous with considerable knowledge of local conditions, regulations and practices and with the ability to deal with appropriate government departments and private organisation.

Jide Afolayan & Co has conducted so many audits, investigation, tax management and consultancy assignments, among which are for the following notable private and public establishments.
<li> Akbolmarrion Nigeria Limited </li>
<li> KGB Multibiz Services Ventures Limited</li>
<li> Temnics Nigeria Limited</li>
<li> Tongyi Engineering Nigeria Limited</li>
<li> Trustlink Insurance Broker Ltd</li>
<li> Landmark University, Omu Aran</li>
<li> LMU Development Ventures</li>
<li> Jawai multi resources Limited</li>
<li> Phantovic Nigeria Limited</li>
<li> HSHF Overseas Mining Limited</li>
<li> Dfts Sanitation Solution Nigeria Limited</li>
<li> Learning Impact Model Limited</li>
<li> Wier Capacity Limited</li>
<li> Tongyl New International Construction Limited</li>
<li> Tongyi Allied Mining Nigeria Limited</li>
<li> Dovengel Investments limited </li>
<li> Pamphylia investment Limited </li>
<li> Eabason International limited</li>
<li> Kali integrated Limited. </li>
<li> Gracious Technology Limited. </li>
<li> Batterdays Multi Services Resources Limited. </li>
<li> ESTACY Global Nigeria Limited. </li>
<li> Hugely castle Global limited. </li>
<li> Icon Business concept Limited. </li>
<li> East Wrangler Nigeria limited. </li> <br/>
We produce this documents based on request by existing and would – be clients. It should not be taken as advertisement of the firm, its partners and employees.

2. 0	CORPORATE INFORMATION <br/>
The firm, Jide Afolayan & Co was registered in Nigeria by Financial Reporting Council of Nigeria and under the companies and Allied matters Act 1990 to practice as Chartered Accountants, Tax and Management Consultants.
<br/>
<br/>
<h5>OUR VISION, MISSION, MOTTO AND CORE VALUES.</h5>
Within the above perspective, our Vision is to be one of the foremost accounting firms (with difference) in the world.
Within the above perspective, our Mission is commitment to serve our clients to the fullest to make their goals and objectives a reality.
Our Motto is desire to surpass our previous achievements i.e to push the limited to what we can professionally achieve.
<br/>
<br/>
<br/>

</div>

{% include 'foot.html' %}
{% endblock %}
