{% extends 'base.html' %}
{% block title %}Contact Jide Afolayan & Co. {% endblock %}
{% block load %}
{% include 'nav.html' %}


<div class="container">

  <p> Office Address:
    <br/>
        	First Floor, Olohun loseyi Complex
          <br/>
                    Beside Aromokeye Pharmacy, Opposite A Division
          <br/>
          Muritala Muhammed Way, Ilorin
          <br/>
          Kwara State.
          <br/>
          <br/>
         		Email: samremmy@yahoo.com
            <br/>
            <br/>

           	Tel: 08038274453, 08084167418</p>


</div>

{% include 'foot.html' %}
{% endblock %}
