<footer>
  <div class="row">
  <div class="col-md-6">
    <div class="content">
      <address class="">
        <b>Address</b> <br>
        1st Floor, Ose Olorun Complex,<br>
        Beside Aromokeye Pharmacy Opposite
        A Division Muritala Muhammed Ways,<br>
        Ilorin, Kwara State.<br><br>
        <p><strong>Tel:</strong><br> +234 (0) 8038 274 453,<br> +234 (0) 8084 167 418, <br> +234 (0) 8082 989 533.</p>

      </address>

    </div>
  </div>
  <div class="col-md-6">
    <div class="content1">
      <p><b>E-mail:</b><br>
        <a href="mailto:jideafolayanandco2011@gmail?subject=contactus"> jideafolayanandco2011@gmail.com </a><br>
        <a href="mailto:samremmy@yahoo.com?subject=contactus"> samremmy@yahoo.com</a><br>

              </p>

    </div>
  </div>

</div>
<div class="author">
  <p>Designed & Developed by <a href="https://facebok.com/unclebay">Ayodele Samuel Adebayo</a> under Walk-In Tech &copy; 2020</p>

</div>

</footer>
