{% extends 'base.html' %}
{% block title %}Jide Afolayan & Co. {% endblock %}
{% block load %}
{% include 'nav.html' %}
<div class="row">
  <div class="col-md-12">
    <div class="imganimation">
      <div class="trainalert">Motto: We push the Limits to what we can Professionally achieve
.....</div>
      <img src="static/img/team.jpg" alt="">
      <p></p>

    </div>

  </div>

</div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="ourteam">
        <h3>Our Team</h3>
      </div>
    </div>

  </div>

</div>
<div class="row">
  <div class="col-md-6">
    <div class="jideafolayan">
      <figure>
        <a href="{% url 'team' %}">
        <img src="static/img/jideafolayan1.jpg" width="300" height="230" class="img"/>
        <figcaption class="teamcaption"> <h4 style="color:gold;">JIDE AFOLAYAN</h4><h3><b>Managing Partner</b></h3></figcaption>
        </a>
        </figure>
    </div>
  </div>
<div class="col-md-6">
  <div class="jideafolayan">
    <figure>
      <a href="{% url 'team' %}">
      <img src="static/img/tayoadeniyi.jpg" width="300" height="230" class="img"/>
      <figcaption class="teamcaption"><br> <h4 style="color:gold;">TAYO ADENIYI</h4><h3><b>CONSULTANT</b></h3> </figcaption>
      </a>
      </figure>
</div>
</div>
</div>
<div class="row">
  <div class="col-3">

  </div>
  <div class="col-3">

  </div>

</div>
{% include 'foot.html' %}
{% endblock %}
