{% extends 'base.html' %}
{% block title %}Jide Afolayan & Co. Services{% endblock %}
{% block load %}
{% include 'nav.html' %}
<div class="container">
<p style="font-size:29px; text-align:left;">OUR SERVICES</p>
<ul><!--style="padding-left:450px;"-->
<li>Statutory audit services</li>
<li>Accounting services</li>
<li>Consultancy  and training services</li>
<li>Tax management and advisory services</li>
<li>Secretarial services</li>
<li>Receivership/Debt Recovery</li>
<li>Bank account statement audit</li>
</ul>
<br/>
<div class="explanation">
<p style="font-style:bold; color:red;">1.	Audit/Assurance</p>
The firm is uniquely qualified to serve the statutory need of both national and international clients, and reports on the financial statements of the public and private corporations in accordance with the laws of the country and in accordance with the International Standards on Auditing. Our offices are equally qualified to handle examinations of financial statements in response to international requirements. The firm can call upon a wide range of experience in the audit of organizations using the most advanced integrated enterprise resource planning systems.
We staff each engagement team with professionals who possess the knowledge, skills, time, and experience to perform the engagement. Our ability to deliver a quality audit depends on the team’s strong understanding of the business process, accounting policies and internal controls, and financial reporting issues specific to your industry and your organisation. Our engagement teams include industry- experienced audit professionals who can actively participate in areas requiring special knowledge, skills or tools.
Audit quality is our top priority. Fulfilling this commitment to maintain the highest audit quality requires vigilance in making sure our audit complies with changing regulations and professional standards.
<br/>
<br/>
<p style="font-style:bold; color:red;">2.	Tax Management:</p>
 We provide the tax advisory services that enable clients to minimize their tax exposure and avoid sanctions by regulatory organisation. From assisting in planning transactions, investments, acquisitions and the legal structure of the business ventures, to managing reporting, appeals and settlements, we have the proven expertise that ensure effective delivery of tax advisory services meeting clients’ business needs. We take an active approach to advising clients on tax matters, our tax specialists monitor and analyse client’s business affairs and developments appropriate strategies, providing positive recommendations and decisive solutions to tax problems. Our approach ensures that clients can appropriately and judicially react to changes in tax law, diffuse potential problems before they arise, and structure their business activities to maximize tax benefits.
<h6>Tax planning</h6>
<ul>
          Our tax advisory services fall into three broad categories:
<li>Evaluating the impact of new developments in tax law and practice.</li>
<li>Providing valuable input for planning and structuring business operations and ventures.</li>
<li>Anticipating and solving tax problems.</li>
Our approach stresses through knowledge of clients’ business activities and affairs, and the industries and countries in which they are active.
</ul>
<br/>
<p style="font-style:bold; color:red;">3.	In-depth Consulting:</p>
<ul>
  We provide consultancy services covering a wide range of tax problems for both business and personal clients. Examples include:
<li>The reorganization of companies to maximize tax benefits.</li>
<li>The development of optimal tax structure for new ventures.</li>
<li>The planning of acquisitions and disposal of business and assets.</li>
Tax consultancy services are also offered as part of wider investigatory assignments e.g. in the areas of corporate acquisitions or the public issues of shares.
</ul>
<br/>
<p style="font-style:bold; color:red;">4.	Advisory:</p>

<ul>
Our advisory services are classified into the following broad categories:
<li> Risk advisory services</li>
<li> Financial advisory services</li>
<li> Business plan</li>
</ul>
<br/>
<p style="font-style:bold; color:red;"> 5.	Risk Advisory Services </p>
We obtain understanding of our each clients’ business and use our professional knowledge in such a way that helps our clients in managing risk so that the client give due attention on improving performance, timely decision making and strengthening the business.
Risk Advisory Services include:
<li> Internal audit services</li>
<li> Information risk management</li>
<li> Regulatory and compliance services</li>
<li> Business performance services</li>
<li> Accounting Advisory Services</li>
<li> Program Management & Quality Assurance</li>
<li> Financial Risk Management</li>
Internal Audit Services
Our internal audit services assist an organisation to achieve the core objectives with regards to reliability of financial reporting, effectiveness and efficiency of operations, compliance with applicable laws and regulations and to develop systematic and disciplined approach in risk management control and governance processes.
Assurance is provided to management and the stakeholders that:
<li> Good governance is practiced</li>
<li> Business risks are being effectively controlled</li>
<li> Opportunities are identified and capitalized upon; and</li>
<li> Potential losses and fraud can be prevented.</li>
Our customized internal audit services include:
<li> Strategic performance review of internal audit function</li>
<li> Business risk assessment</li>
<li> Internal audit co/outsourcing</li>

Information Risk Management
Information Risk Management (IRM) adapts the generic process of risk management and applies it to the integrity, availability and confidentiality of information assets and the information environment. IRM can be a tool for managing information proactively rather than reactively and help organizations identify and manage technology, operational and regulatory¬¬-related risks that may impact their business systems and processes. IRM services also include information technology audit.
After obtaining in depth knowledge of an organization’s existing resources, our professionals use different techniques to assess whether the optimal system controls relating to major applications are in place and operating effectively. Further, we suggest such kind of business system control as well as increased functionality.
We are providing the following four component services which can be delivered individually as well as in combination:
<li>Business process controls</li>
<li>IT security controls</li>
<li>Operational controls data</li>
<li>Integrity controls</li>

<p style="font-style:bold; color:red;"> 6.	Financial Advisory Service </p>
Modern day businesses have to deal with critical strategic decisions for business
 continuity, growth or revival. These decisions need to be independent from financing sources.
 Our advices include strategies for revival of sick industries, turnaround strategy for under
 performing companies and support throughout a transaction life cycle.
Our financial advisory services comprise:
<li>Corporate finance</li>
<li>Transaction services</li>
<li>Restructuring</li>
<li>Forensic services</li>

<p style="font-style:bold; color:red;"> 7.	Management  Consultancy </p>
We conduct staff training scheme at the instance of our clients. Also, we undertake project
 feasibility studies, recruitment of personnel, and organization development e.t.c. Other services rendered include:-
<li>Recruitment of quality staff in area of Accounting, Audit and Investigation, Internal control system, Risk Management and Finance.</li>
<li>In-depth Training in Human Resources Management, Accounting, Audit and Investigation, Internal control system, Risk Management and Finance.</li>
<li>Management Consultancy in Public and Private Sector Organization.</li>
<p style="font-style:bold; color:red;"> 8.	Secretarial Services </p>
Our secretarial services include amongst others the following:
<li>Incorporation of new companies and business name registration.</li>
<li>Registration of increase in shares with the Corporate Affairs Commission.</li>
<li>Registration of change of company address, Directorship, Share Capital and shareholding with Corporate Affairs Commission.</li>
<li>Registration of Company’s Expatriates quota and obtaining resident and work permits.</li>
<li>Securing of CTC of lost certificate of registration, Form C02 and C07.</li>
<li>Rendering of organization’s annual report</li>
<li>Acting as project secretaries and registrar</li>

<p style="font-style:bold; color:red;"> 9. General Consultancy and Training </p>
Training and monitoring of programme participants of any development projects sponsored
by organizations and development partners (Churches, schools, foreign donors such as World Bank, DFID, ADB e.t.c.).
i.e Project monitoring and evaluation, conduct of research study and preparation of feasibility studies.

INSOLVENCY PRACTICE (RECEIVERSHIP, LIQUIDATION   AND PREPARATION OF PROSPECTS AND PROFIT FORECAST)
 We are in to insolvency practice by acting as receivers or receiver managers and liquidators to companies where so appointed.
  We prepare prospectus and profit forecast for companies applying for listing on the stock exchange
Corporate insolvency has in recent times been on the increase in Nigeria with government taking firm decision to divest herself of
direct management of those organizations not doing well. This is to allow the private sector run them for profit while government will
continue to provide the enabling environment that will make these organizations to run successfully.
It is online with the foregoing that government decided to privatize some organizations, liquidate those that cannot be privatized,
 resuscitated or turnaround. Some of the companies to be liquidated must therefore be put in the hands of liquidators and receiver
  managers for obvious reasons in which we accountants have greater roles to play. The need to employ a capable agent like us cannot be over emphasized.
SERVICE OBJECTIVES
Our relationship with fellow colleagues over the years in the industry has widened our knowledge and input us at best form for challenges and operations.
 We bring to bear insight, practical know how and integrated capabilities to ensure the provision of the best auditing business and economic advisory
 services to our clients.
It is the policy of the firm to place the satisfaction of our clients first at heart before any other consideration.
We are also committed to adding value to the business of our clients. Our multi-disciplinary staff guarantee to those who employ our services the following:
-	         Expertise
-	         Efficiency
-	         Objectivity
-	         Confidentiality and
-	         Results
<br/>
<br/>

</div>
</div>
{% include 'foot.html' %}
{% endblock %}
