{% extends 'base.html' %}
{% block title %}Jide Afolayan & Co. Team {% endblock %}
{% block load %}
{% include 'nav.html' %}

<div class="container">
<div class="row" style="background-color:wheat;">
  <div class="col-md-12">
    <div class="jideafolayan" >
      <h3 style="margin-left:129px; margin-top:34px; font-family:Courier; color:orange;">JIDE AFOLAYAN (POST)</h3>
      <img src="static/img/jideafolayan1.jpg"  style="float:left; padding:12px;" alt=""> <br>
    <p style=" font-family:monospace"> I give glory to God, speech, content , 404 easy mmanshshjI give glory to God, speech, content , 404 easy mmanshshjI give glory to God, speech, content , 404 easy mmanshshjI give glory to God, speech, content , 404 easy mmanshshjI give
      I give glory to God, speech, content , 404 easy mmanshshj
      I give glory to God, speech, content , 404 easy mmanshshjglory to God, speech, content , 404 easy mmanshshjI give glory to God, speech, content , 404 easy mmanshshj
      I give glory to God, speech, content , 404 easy mmanshshj
      I give glory to God, speech, content , 404 easy mmanshshj
      I give glory to God, speech, content , 404 easy mmanshshjglory to God, speech, content , 404 easy mmanshshjI give glory to God, speech, content , 404 easy mmanshshj
      I give glory to God, speech, content , 404 easy mmanshshj
      I give glory to God, speech, content , 404 easy mmanshshj
      I give glory to God, speech, content , 404 easy mmanshshjglory to God, speech, content , 404 easy mmanshshjI give glory to God, speech, content , 404 easy mmanshshj
      I give glory to God, speech, content , 404 easy mmanshshj
      I give glory to God, speech, content , 404 easy mmanshshj
      I give glory to God, speech, content , 404 easy mmanshshjglory to God, speech, content , 404 easy mmanshshjI give glory to God, speech, content , 404 easy mmanshshj
      I give glory to God, speech, content , 404 easy mmanshshj</p>
  </div>
  </div>
  </div>
  <hr style="color:peal; border:99;">
  <div class="row" style="background-color:wheat;">
    <div class="col-md-12">
      <div class="jideafolayan">
        <h3 style="margin-left:129px; margin-top:34px; font-family:Courier; color:orange;">TAYO ADENIYI (CONSULTANT)</h3>
        <img src="static/img/tayoadeniyi.jpg" style="float:left; padding:12px;" alt="">
        <p style=" font-family:monospace"> I give glory to God, speech, content , 404 easy mmanshshjI give glory to God, speech, content , 404 easy mmanshshjI give glory to God, speech, content , 404 easy mmanshshjI give glory to God, speech, content , 404 easy mmanshshjI give
          I give glory to God, speech, content , 404 easy mmanshshj
          I give glory to God, speech, content , 404 easy mmanshshjglory to God, speech, content , 404 easy mmanshshjI give glory to God, speech, content , 404 easy mmanshshj
          I give glory to God, speech, content , 404 easy mmanshshj
          I give glory to God, speech, content , 404 easy mmanshshj
          I give glory to God, speech, content , 404 easy mmanshshjglory to God, speech, content , 404 easy mmanshshjI give glory to God, speech, content , 404 easy mmanshshj
          I give glory to God, speech, content , 404 easy mmanshshj
          I give glory to God, speech, content , 404 easy mmanshshj
          I give glory to God, speech, content , 404 easy mmanshshjglory to God, speech, content , 404 easy mmanshshjI give glory to God, speech, content , 404 easy mmanshshj
          I give glory to God, speech, content , 404 easy mmanshshj
          I give glory to God, speech, content , 404 easy mmanshshj
          I give glory to God, speech, content , 404 easy mmanshshjglory to God, speech, content , 404 easy mmanshshjI give glory to God, speech, content , 404 easy mmanshshj
          I give glory to God, speech, content , 404 easy mmanshshj</p>
      </div>
      </div>
  </div>
</div>
{% include 'foot.html' %}

{% endblock %}
