{% extends 'base.html' %}
{% block title %} Testimonies- Jide Afolayan & Co. {% endblock %}
{% block load %}
{% include 'nav.html' %}
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="test">
        <figure>
          <img src="static/img/img5.jpg" width="560" height="230" class="img"/>
          <p style="color:;">JIDE AFOLAYAN speaking during a meeting  with the KW-RS and LANDMARK UNIVERSITY BOARD</p>
        </figure>
      </div>
    </div>
    <div class="col-md-6">
      <div class="test">
        <figure>
          <img src="static/img/img2.jpg" width="560" height="230" class="img"/>
          <p style="color:;">JIDE AFOLAYAN & CO. in a meeting with the LANDMARK UNIVERSITY VICE CHANCELLOR AND BOARD</p>
        </figure>
      </div>
    </div>
    <div class="col-md-6">
      <div class="test">
        <figure>
          <img src="static/img/img3.jpg" width="560" height="230" class="img"/>
          <p style="color:;">JIDE AFOLAYAN & CO. in a group picture with the KW-RS and LANDMARK UNIVERSITY BOARD</p>
        </figure>
      </div>
    </div>
    <div class="col-md-6">
      <div class="test">
        <figure>
          <img src="static/img/img4.jpg" width="560" height="230" class="img"/>
          <p style="color:;">JIDE AFOLAYAN & CO. Consultant (TAYO ADENIYI (r)) with CIA of LANDMARK UNIVERSITY VICE CHANCELLOR AND BOARD</p>
        </figure>
      </div>
    </div>
    <div class="col-md-6">
      <div class="test">
        <figure>
          <img src="static/img/img1.jpg" width="560" height="230" class="img"/>
          <p style="color:;">JIDE AFOLAYAN & CO. in a group picture with the KW-RS and LANDMARK UNIVERSITY BOARD</p>
        </figure>
      </div>
    </div>
    <div class="col-md-6">
      <div class="test">
        <figure>
          <img src="static/img/img6.jpg" width="560" height="230" class="img"/>
          <p style="color:;">JIDE AFOLAYAN & CO. with KW-RS and LANDMARK UNIVERSITY VICE CHANCELLOR AND BOARD</p>
        </figure>
      </div>
    </div>
  </div>
</div>

{% include 'foot.html' %}
{% endblock %}
