{% extends 'base.html' %}
{% block title %} Testimonies- Jide Afolayan & Co. {% endblock %}
{% block load %}
{% include 'nav.html' %}
<style>
  .container1{
    margin: 10px;
  }
  .test .img{
    display: block;
    /*margin: 0 auto;*/
    max-width: ;
    padding: 55px;
  }
  .test{
  width: 100%;
  height: 100%;
  position: relative;
  cursor: pointer;
    border-radius: 10px;
    -webkit-transition: 0.3s ease-in-out, 
    -webkit-transform 0.3s ease-in-out;
  -moz-transition:  0.3s ease-in-out, 
    -moz-transform 0.3s ease-in-out;
    transition: all 0.3s ease-in-out, 
    transform 0.3s ease-in-out, ;
}

.test:hover {
  transform: scale(2.05); 
}

p{
  font-style: oblique;
  font-size: small;
  text-align: center;
}
</style>
<div class="container1">
  <div class="row">
    <div class="col-md-6">
      <div class="test">
        <figure>
          <img src="static/img/img5.jpg" width="560" height="230" class="img"/>
          <p style="color:;">JIDE AFOLAYAN speaking during a meeting  with the KW-RS and LANDMARK UNIVERSITY BOARD</p>
        </figure>
      </div>
    </div>
    <div class="col-md-6">
      <div class="test">
        <figure>
          <img src="static/img/img2.jpg" width="560" height="230" class="img"/>
          <p style="color:;">JIDE AFOLAYAN & CO. in a meeting with the LANDMARK UNIVERSITY VICE CHANCELLOR AND BOARD</p>
        </figure>
      </div>
    </div>
    <div class="col-md-6">
      <div class="test">
        <figure>
          <img src="static/img/img3.jpg" width="560" height="230" class="img"/>
          <p style="color:;">JIDE AFOLAYAN & CO. in a group picture with the KW-RS and LANDMARK UNIVERSITY BOARD</p>
        </figure>
      </div>
    </div>
    <div class="col-md-6">
      <div class="test">
        <figure>
          <img src="static/img/img4.jpg" width="560" height="230" class="img"/>
          <p style="color:;">JIDE AFOLAYAN & CO. Consultant (TAYO ADENIYI (r)) with CIA of LANDMARK UNIVERSITY VICE CHANCELLOR AND BOARD</p>
        </figure>
      </div>
    </div>
    <div class="col-md-6">
      <div class="test">
        <figure>
          <img src="static/img/img1.jpg" width="560" height="230" class="img"/>
          <p style="color:;">JIDE AFOLAYAN & CO. in a group picture with the KW-RS and LANDMARK UNIVERSITY BOARD</p>
        </figure>
      </div>
    </div>
    <div class="col-md-6">
      <div class="test">
        <figure>
          <img src="static/img/img6.jpg" width="560" height="230" class="img"/>
          <p style="color:;">JIDE AFOLAYAN & CO. with KW-RS and LANDMARK UNIVERSITY VICE CHANCELLOR AND BOARD</p>
        </figure>
      </div>
    </div>
  </div>
</div>

{% include 'foot.html' %}
{% endblock %}
